@namespace "http://www.w3.org/1999/xhtml";
@namespace svg "http://www.w3.org/2000/svg";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
section.slide{border:1px solid #ccc;margin:0px auto;width:1024px;height:768px;}section.slide>div.section-body{font-size:1.5em;position:relative;border:0px;padding:10px;width:1004px;height:748px;overflow:hidden;}section.slide>div.section-body>footer{font-size:0.75em;position:absolute;display:block;bottom:0em;width:1004px;border-top:1px solid;}
section.slide>div.section-body>aside{position:absolute;top:30px;max-height:600px;overflow:auto;display:none;width:890px;}section.slide>div.section-body>aside .aside-body{max-height:500px;}
section.slide>div.section-body>nav{bottom:5px;margin:0 20px;position:absolute;}
.animatedElement.hidden{visibility:hidden;}
@media print{html body.ldjs-slide{background-color:white;margin:0;padding:0;min-width:0;min-height:0;width:auto;height:768px;border:1px solid white;}html body.ldjs-slide section.slide{display:none;}html body.ldjs-slide section.slide.current{display:block;position:static;margin:0 auto;}html body.ldjs-slide section.slide.current div.ldjs-slide-number{display:block;}}body.ldjs-slide{overflow:hidden;border:0;background-color:black;min-width:1024px;min-height:768px;}body.ldjs-slide.scroll{overflow:auto;}
body.ldjs-slide>#body-content>.slide{border:0;background-color:white;visibility:hidden;position:absolute;top:0;left:50%;margin-left:-512px;}body.ldjs-slide>#body-content>.slide.current{visibility:visible;}body.ldjs-slide>#body-content>.slide.current aside.visible{display:block;}
body.ldjs-slide>#body-content>.slide.current div.ldjs-canvas.visible{visibility:visible;}
body.ldjs-slide>#body-content #ldjs-end-of-presentation{visibility:hidden;}body.ldjs-slide>#body-content #ldjs-end-of-presentation p{font-size:2.3em;color:white;width:30em;position:fixed;top:1em;left:50%;margin-left:-15em;text-align:center;}
body.ldjs-slide>#body-content #ldjs-end-of-presentation.current{visibility:visible;}
div.ldjs-slide-number{position:absolute;bottom:0;right:0;margin:2px 5px;font-size:0.8em;color:gray;}
body.ldjs-slide section.slide div.ldjs-slide-number{display:none;}
div.ldjs-canvas{position:absolute;margin-left:-10px;margin-top:-10px;width:100%;height:100%;z-index:100;visibility:hidden;pointer-events:none;}div.ldjs-canvas>svg|svg{pointer-events:none;width:100%;height:100%;}
div#ldjs-laserpointer{position:absolute;top:50%;left:50%;visibility:hidden;width:2em;height:2em;margin-left:-1em;margin-top:-1em;background-color:red;z-index:200;border-radius:1em;opacity:0.75;pointer-events:none;}
div.ldjs-message-box{position:fixed;left:50%;margin-left:-322px;top:50px;width:615px;max-height:600px;z-index:105;color:#e5e5e5;border-top-left-radius:8px;border-top-right-radius:8px;overflow:hidden;padding:10px;font-size:1.25em;text-align:center;}div.ldjs-message-box header{font-size:25px;font-weight:bold;height:30px;line-height:30px;margin:2px 0;padding:0 0 5px 0;border-bottom:1px solid #666;text-align:center;}
div.ldjs-message-box div.ldjs-message-box-content{max-height:500px;overflow:auto;}
div.ldjs-message-box div.ldjs-message-box-buttons{border-top:1px solid #666;height:40px;}div.ldjs-message-box div.ldjs-message-box-buttons div.ldjs-message-box-button{display:inline-block;width:200px;background:#65a9d7;background:-webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));background:linear-gradient(to top, #3e779d, #65a9d7);padding:5px 10px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;border:1px solid #64a9d7;margin:5px 10px 5px auto;cursor:pointer;}div.ldjs-message-box div.ldjs-message-box-buttons div.ldjs-message-box-button:hover{border:1px solid #4d92c0;background:#4d92c0;background:-webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#4d92c0));background:linear-gradient(to top, #3e779d, #4d92c0);}
div.ldjs-message-box div.ldjs-message-box-buttons div.ldjs-message-box-button:active{border:1px solid inherit;box-shadow:0 2px 3px rgba(0, 0, 0, 0.5) inset;}
div.ldjs-message-box-error{background-color:#dc0000;border:5px solid #892424;}
div.ldjs-message-box-information{background-color:#202020;}
div#ldjs-print-dialog.ldjs-message-box h1{color:#e5e5e5;}
div#ldjs-print-dialog.ldjs-message-box b{color:#e57505;font-weight:normal;}
div#ldjs-print-dialog.ldjs-message-box ul{text-align:left;}
div#ldjs-print-dialog.ldjs-message-box span.landscape{display:inline-block;width:32px;height:24px;background-size:32px 24px;background-image:url("../Icons/landscape.svg");}
div#ldjs-print-dialog.ldjs-message-box span.portrait{display:inline-block;width:24px;height:32px;background-size:24px 32px;background-image:url("../Icons/portrait.svg");}
div.ldjs-modal-dialog.ldjs-message-box{z-index:251;}div.ldjs-modal-dialog.ldjs-message-box b{color:#e5e5e5;font-weight:bold;}
a.ldjs-aside-link{color:#000066;}a.ldjs-aside-link:hover{color:#08961d;cursor:pointer;}
div#ldjs-overlay-layer{position:fixed;bottom:0;border:0px;width:100%;height:100%;background-color:black;z-index:101;}div#ldjs-overlay-layer.black{background-color:black;}
div#ldjs-overlay-layer.white{background-color:white;}
div#ldjs-overlay-layer.modal{z-index:250;opacity:0.6;}
#ldjs-canvas-menu{position:absolute;left:1em;bottom:1em;font-size:0.5em;display:block;pointer-events:auto;}#ldjs-canvas-menu *{display:none;cursor:pointer;margin:-0.3em;padding:0.3em;}
#ldjs-canvas-menu::before{color:#aaaaaa;content:"✎";}
#ldjs-canvas-menu:hover{padding:0.3em;background-color:white;opacity:0.9;border:1px solid #eeeeee;}#ldjs-canvas-menu:hover::before{content:"";}
#ldjs-canvas-menu:hover *{display:block;}#ldjs-canvas-menu:hover *:hover{background-color:#333333;}
#ldjs-canvas-menu div#ldjs-canvas-menu-clear-canvas{content:"✗";text-align:center;}
#ldjs-canvas-menu div#ldjs-canvas-menu-black-stroke{color:black;}
#ldjs-canvas-menu div#ldjs-canvas-menu-yellow-stroke{color:yellow;}
#ldjs-canvas-menu div#ldjs-canvas-menu-red-stroke{color:red;}
#ldjs-keypress-feedback{width:5em;height:2.5em;line-height:2.5em;font-size:2em;position:fixed;top:50%;left:50%;margin-top:-1.25em;margin-left:-2.5em;background-color:rgba(50, 50, 50, 0.9);border-radius:0.5em;color:white;text-align:center;z-index:110;}#ldjs-keypress-feedback #positive-feedback{color:green;}
#ldjs-keypress-feedback #negative-feedback{color:red;}
#ldjs-keypress-feedback.fadeout{transition:opacity 0.5s;-webkit-transition:opacity 0.5s;opacity:0;}
#ldjs-jump-target-info{width:5em;height:2.5em;line-height:2.5em;font-size:2em;position:fixed;top:50%;left:50%;margin-top:-1.25em;margin-left:-2.5em;background-color:rgba(50, 50, 50, 0.8);border-radius:0.5em;color:white;text-align:center;z-index:110;}#ldjs-jump-target-info.fadeout{transition:opacity 0.5s;-webkit-transition:opacity 0.5s;opacity:0;}
@media print{div.ldjs-message-box{display:none;}}html body:not([class *= "ldjs-"]) div#body-content{width:800px;margin:auto;padding:8px;border-left:1px solid #cccccc;border-right:1px solid #cccccc;}html body:not([class *= "ldjs-"]) div#body-content section.slide{width:800px;height:600px;margin:0 0 10px;}html body:not([class *= "ldjs-"]) div#body-content section.slide>div.section-body{-moz-transform-origin:0 0;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scale(0.78125);-moz-transform:scale(0.78125);transform:scale(0.78125);}
html body:not([class *= "ldjs-"]) aside{border-radius:0;background:inherit;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;padding:0.3em 1em;border-left:5px solid #44d;}
@media print{html body:not([class *= "ldjs-"]){width:804px;margin:0 auto;}html body:not([class *= "ldjs-"]) div#body-content{border:0;padding:0;margin:0;}html body:not([class *= "ldjs-"]) div#body-content>h1,html body:not([class *= "ldjs-"]) div#body-content>h2,html body:not([class *= "ldjs-"]) div#body-content>h3,html body:not([class *= "ldjs-"]) div#body-content>h4,html body:not([class *= "ldjs-"]) div#body-content>h5,html body:not([class *= "ldjs-"]) div#body-content>h6{page-break-before:always;} html body:not([class *= "ldjs-"]) div#body-content>h1:first-child,html body:not([class *= "ldjs-"]) div#body-content>h2:first-child,html body:not([class *= "ldjs-"]) div#body-content>h3:first-child,html body:not([class *= "ldjs-"]) div#body-content>h4:first-child,html body:not([class *= "ldjs-"]) div#body-content>h5:first-child,html body:not([class *= "ldjs-"]) div#body-content>h6:first-child{page-break-before:avoid;} html body:not([class *= "ldjs-"]) div#body-content section.slide{page-break-inside:avoid;}}body.ldjs-lecture-notes{background-color:#ffffff;}body.ldjs-lecture-notes div#ldjs-lecture-notes{padding:0 1em;}body.ldjs-lecture-notes div#ldjs-lecture-notes div.ldjs-lecture-notes-subsection{clear:both;overflow:hidden;margin-bottom:1em;}
body.ldjs-lecture-notes div#ldjs-lecture-notes div.ldjs-lecture-notes-sidebar{float:right;width:642px;overflow:hidden;padding-left:1em;}body.ldjs-lecture-notes div#ldjs-lecture-notes div.ldjs-lecture-notes-sidebar section.slide{height:480px;width:640px;}
body.ldjs-lecture-notes div#ldjs-lecture-notes div.ldjs-lecture-notes-sidebar div.section-body{-moz-transform-origin:0 0;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scale(0.625);-moz-transform:scale(0.625);transform:scale(0.625);}
body.ldjs-lecture-notes div#ldjs-lecture-notes div.ldjs-lecture-notes-sidebar>aside{max-width:100%;margin-top:1em;font-size:0.715em;}
body.ldjs-lecture-notes div#ldjs-lecture-notes aside{border-radius:0;background:inherit;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;padding:0.3em 1em;border-left:5px solid #44d;}
body.ldjs-lecture-notes div#ldjs-lecture-notes div#ldjs-lecture-notes-footer{clear:both;padding-top:1em;text-align:center;padding-bottom:1em;}
body.ldjs-lecture-notes div#ldjs-lecture-notes div.ldjs-lecture-notes-content{border-top:1px solid #ccc;}
@media print{body.ldjs-lecture-notes{background-color:white;}body.ldjs-lecture-notes div.ldjs-lecture-notes-slide-minipicture{page-break-before:always;}}body.ldjs-light-table{background-color:#ffffff;margin:auto;overflow-y:scroll;}body.ldjs-light-table section.slide{height:288px;width:384px;}
body.ldjs-light-table div.section-body{-moz-transform-origin:0 0;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scale(0.375);-moz-transform:scale(0.375);transform:scale(0.375);}
body.ldjs-light-table div.ldjs-light-table-slide{display:inline-block;width:384px;padding:0px;margin:5px;cursor:pointer;}body.ldjs-light-table div.ldjs-light-table-slide a,body.ldjs-light-table div.ldjs-light-table-slide input{pointer-events:none;}
div.ldjs-light-table-slide span.ldjs-light-table-slide-number{white-space:nowrap;}
@media print{body.ldjs-light-table{text-align:center;}body.ldjs-light-table section.slide{text-align:left;}}body.ldjs-continuous-layout{background-color:#ffffff;}body.ldjs-continuous-layout section.slide{margin-bottom:1em;}
@media print{body.ldjs-continuous-layout{margin:0 auto;width:1144px;}body.ldjs-continuous-layout section.slide{border:0;margin:0 60px;width:1004px;page-break-inside:avoid;page-break-before:avoid;page-break-after:always;} body.ldjs-continuous-layout section.slide:last-child{page-break-after:avoid;}}html{font-size:100.0%;}
body{font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;margin:0;word-wrap:break-word;}
h1,h2,h3,h4,h5,h6{font-weight:700;line-height:1.5em;}
h1{font-size:2.0em;}
h2{font-size:1.7em;}
h3{font-size:1.25em;}
h4{font-size:1.125em;}
h5{font-size:1em;}
p{font-size:1.0em;line-height:1.3em;margin:1.3em 0;}
a{text-decoration:none;-webkit-transition:color 0.2s ease-in-out;}
article{font-size:0.8em;}
pre,code{font-family:"Courier New",monospace;line-height:1.1em;font-size:0.95em;}
pre{margin:1em 0;}
blockquote{margin:1em 40px;}
blockquote p{font-size:1.1em;font-style:italic;line-height:1.6em;}
em{font-style:italic;}
strong{font-weight:700;}
sup,sub,a.footnote{font-size:1.4em;height:0;line-height:1em;position:relative;}
sup{vertical-align:super;}
sub{vertical-align:sub;top:-1px;}
caption{display:table-caption;font-weight:700;}
figure{display:inline-block;margin-bottom:1.2em;position:relative;margin:1em 0;}
figcaption{font-style:italic;text-align:center;position:absolute;left:0;bottom:-24px;width:98%;padding:1%;-webkit-transition:all 0.2s ease-in-out;}
ul,ol{margin:1em 0;padding-left:40px;}ul ul,ol ul,ul ol,ol ol{margin-bottom:0.4em;}
ul{list-style:disc outside;}ul ul{list-style:circle;}
ol{list-style:decimal outside;}
li{font-size:1.1em;margin-bottom:0.5em;line-height:1.35em;}li>p:first-child{margin:0;}
li li{font-size:1em;}
li p{font-size:1em;margin:0.5em 0;}
dt{font-weight:700;}
dd{margin-bottom:1em;}
table{border-collapse:collapse;display:table;empty-cells:hide;margin:-1px 0 23px;padding:0;table-layout:fixed;margin-left:auto;margin-right:auto;}table th,table td{font-size:1.1em;padding:0.5em;}
table th{font-weight:700;}
aside{font-size:0.9em;padding:1.5em;margin:1.5em;border-radius:1em;}
.footnote{color:#0d6ea1;font-size:.8em;vertical-align:super;}
#wrapper img{max-width:100%;height:auto;}
.poetry pre{display:block;font-family:Georgia, Garamond, serif !important;font-size:1.1em !important;font-style:italic;line-height:1.6em;margin-left:1em;}
.poetry pre code{font-family:Georgia,Garamond,serif !important;}
div.statement{font-size:1.75em;margin-left:auto;margin-right:auto;margin-top:1.75em;margin-bottom:1.75em;padding:0.75em;line-height:1.4em;border-top:1px solid #333;border-bottom:1px solid #333;-webkit-box-shadow:5px 5px 10px #d6d6d6;-moz-box-shadow:5px 5px 10px #d6d6d6;box-shadow:5px 5px 10px #d6d6d6;}
section.story{border-left:1px solid #333;margin-left:0.5em;padding-left:0.5em;}
@media screen{#wrapper{padding:20px;}}@media print{body{overflow:auto;} img,pre,blockquote,table,figure,p{page-break-inside:avoid;} .footnotes{page-break-before:always;} #wrapper{background:#fff;color:#303030;font-size:85%;padding:10px;position:relative;text-indent:0;}}body{color:#111;}
h1{color:#000;}
h2{color:#111;}
h3{color:#111;}
h4{color:#111;}
h5{color:#111;}
a{color:#0d6ea1;}
a:hover{color:#3593d9;}
table{border:1px solid rgba(0, 0, 0, 0.25);}table thead{background:rgba(0, 0, 0, 0.15);border:1px solid rgba(0, 0, 0, 0.15);border-bottom:1px solid rgba(0, 0, 0, 0.2);}
table tbody{background:rgba(0, 0, 0, 0.05);}
table tfoot{background:rgba(0, 0, 0, 0.15);border:1px solid rgba(0, 0, 0, 0.15);border-top:1px solid rgba(0, 0, 0, 0.2);}
table tr:nth-child(odd),table th:nth-child(odd),table td:nth-child(odd){background:rgba(255, 255, 255, 0.06);}
table tr:nth-child(even),table td:nth-child(even){background:rgba(0, 0, 0, 0.06);}
figcaption{background:rgba(0, 0, 0, 0.9);color:#ffffff;}
aside{background:#efefef;-webkit-box-shadow:1em 1em 1em #3c3c3c;-moz-box-shadow:1em 1em 1em #3c3c3c;box-shadow:1em 1em 1em #3c3c3c;}
article{background:#ffffdd;}
section.slide>div.section-body>aside{background:#ddd;}
section.slide>div.section-body>footer{color:#777777;border-top-color:#777;}
@media screen{::selection{background:rgba(157, 193, 200, 0.5);} h1::selection{background-color:rgba(45, 156, 208, 0.3);} h2::selection{background-color:rgba(90, 182, 224, 0.3);} h3::selection,h4::selection,h5::selection,h6::selection,li::selection,ol::selection{background-color:rgba(133, 201, 232, 0.3);} code::selection{background-color:rgba(0, 0, 0, 0.7);color:#eee;} code span::selection{background-color:rgba(0, 0, 0, 0.7) ! important;color:#eee ! important;} a::selection{background-color:rgba(255, 230, 102, 0.2);} td::selection,th::selection,caption::selection{background-color:rgba(180, 237, 95, 0.5);}}#ldjs-menubar{position:fixed;height:50px;left:0px;right:0px;bottom:-51px;background-color:#ffffff;transition:bottom 0.5s;-webkit-transition:bottom 0.5s;padding-right:56px;z-index:190;border-top:1px solid #ccc;}#ldjs-menubar.visible{bottom:0;}
#ldjs-menubar>.separator{border-right:1px solid #ccc;height:100%;}#ldjs-menubar>.separator.right{float:right;}
#ldjs-menubar>.separator.left{float:left;}
#ldjs-menubar>a,#ldjs-menubar>.ldjs-menubar-submenu li>a{color:#1A1A1A;display:none;padding:0;margin:2px 5px;outline:none;cursor:pointer;}#ldjs-menubar>a.visible,#ldjs-menubar>.ldjs-menubar-submenu li>a.visible{display:block;}
#ldjs-menubar>a:hover,#ldjs-menubar>.ldjs-menubar-submenu li>a:hover{background-color:#ccc;}
#ldjs-menubar>a:active,#ldjs-menubar>.ldjs-menubar-submenu li>a:active,#ldjs-menubar>a.active,#ldjs-menubar>.ldjs-menubar-submenu li>a.active{background-color:#ccc;box-shadow:1px 1px 3px #888 inset;}
#ldjs-menubar>a.disabled,#ldjs-menubar>.ldjs-menubar-submenu li>a.disabled{pointer-events:none;opacity:0.25;}
#ldjs-menubar>a.disabled:hover,#ldjs-menubar>.ldjs-menubar-submenu li>a.disabled:hover{background-color:inherit;box-shadow:none;border-radius:0;}
#ldjs-menubar>a.ldjs-menubar-icon-button,#ldjs-menubar>.ldjs-menubar-submenu li>a.ldjs-menubar-icon-button{height:46px;width:46px;background-size:40px 40px;background-position:3px 3px;background-repeat:no-repeat;}
#ldjs-menubar>a,#ldjs-menubar>a.right{float:right;}
#ldjs-menubar>a.left{float:left;}
#ldjs-menubar>#ldjs-menubar-button-toggle-menubar{opacity:1;position:fixed;right:0px;bottom:0px;background-color:white;margin:0;width:56px;height:46px;padding:2px 0px;transition:transform 0.5s, opacity 0.5s;-webkit-transition:-webkit-transform 0.5s,opacity 0.5s;}#ldjs-menubar>#ldjs-menubar-button-toggle-menubar:hover{background-color:#ccc;}
#ldjs-menubar>#ldjs-menubar-button-toggle-menubar:active{background-color:#ccc;box-shadow:1px 1px 3px #888 inset;}
#ldjs-menubar #ldjs-menubar-button-toggle-submenu-asides{float:none;position:fixed;right:56px;transition:all 0.5s;-webkit-transition:all 0.5s;}
#ldjs-menubar .ldjs-menubar-submenu{position:absolute;bottom:51px;border:1px solid #ccc;border-bottom:none;border-radius:4px 4px 0 0;background-color:#ffffff;white-space:nowrap;padding:5px;margin-bottom:0;max-height:500px;max-width:800px;z-index:-1;opacity:0;overflow:hidden;visibility:hidden;transition:visibility 0s linear 0.5s, opacity 0.5s linear;-webkit-transition:visibility 0s linear 0.5s, opacity 0.5s linear;}#ldjs-menubar .ldjs-menubar-submenu.visible{visibility:visible;opacity:1;transition-delay:0s;-webkit-transition-delay:0s;}
#ldjs-menubar .ldjs-menubar-submenu header{text-align:center;font-size:1.2em;font-weight:bold;border-bottom:1px solid #ccc;}
#ldjs-menubar .ldjs-menubar-submenu .ldjs-menubar-submenu-buttons{max-height:450px;max-width:800px;padding-right:15px;overflow:auto;list-style-position:outside;}#ldjs-menubar .ldjs-menubar-submenu .ldjs-menubar-submenu-buttons>.nested{margin-top:16px;}
#ldjs-menubar .ldjs-menubar-submenu ul{list-style-type:none;margin-left:0;padding-left:0;}
#ldjs-menubar .ldjs-menubar-submenu ol{list-style-type:decimal;}
#ldjs-menubar .ldjs-menubar-submenu li{display:list-item;float:none;padding:0px 5px;line-height:25px;}#ldjs-menubar .ldjs-menubar-submenu li a{display:block;max-width:790px;font-size:16px;font-family:Sans-Serif;font-weight:bold;padding:0px 8px 0px 8px;margin-bottom:0;}
#ldjs-menubar .ldjs-menubar-submenu>ol.nested{padding-left:0px;}
#ldjs-menubar .ldjs-menubar-submenu ol.nested{list-style-type:none;counter-reset:item;margin:0px 0px 5px 0px;}
#ldjs-menubar .ldjs-menubar-submenu li.nested{display:block;float:none;padding:0px 0px;margin:0px 0px 5px 0px;line-height:20px;}#ldjs-menubar .ldjs-menubar-submenu li.nested a:before{content:counters(item, ".") " ";counter-increment:item;float:left;margin-right:1em;position:relative;min-width:2em;}
#ldjs-menubar #ldjs-menubar-submenu-zoom{width:6em;}
#ldjs-menubar #ldjs-menubar-submenu-asides{bottom:50px;position:fixed;}
#ldjs-menubar #ldjs-menubar-submenu-key-slides a.current{border-bottom:3px solid #ccc;}
#ldjs-menubar #ldjs-menubar-submenu-table-of-contents a.current{border-bottom:3px solid #ccc;}
#ldjs-menubar #ldjs-menubar-submenu-scrolling-overview{position:absolute;left:0;right:0;bottom:51px;height:146px;max-width:100%;white-space:normal;border-radius:0;border:none;padding:0;visibility:hidden;opacity:0;transition:visibility 0s linear 0.5s, opacity 0.5s linear;-webkit-transition:visibility 0s linear 0.5s, opacity 0.5s linear;overflow:hidden;}#ldjs-menubar #ldjs-menubar-submenu-scrolling-overview.visible{visibility:visible;opacity:1;transition-delay:0s;-webkit-transition-delay:0s;}
#ldjs-menubar #ldjs-menubar-submenu-scrolling-overview>#current-slide-highlight{border:7px solid rgba(0, 0, 0, 0.7);width:179px;height:132px;padding:0;margin:0;position:absolute;top:0;left:0;}
#ldjs-menubar #ldjs-menubar-submenu-scrolling-overview>section.slide{position:absolute;bottom:0;border:1px solid #ccc;border-bottom:none;border-right:none;margin:0;padding:0;width:192px;height:144px;background:white;pointer-events:none;cursor:pointer;}#ldjs-menubar #ldjs-menubar-submenu-scrolling-overview>section.slide:nth-last-child(2){border-right:1px solid #ccc;}
#ldjs-menubar #ldjs-menubar-submenu-scrolling-overview>section.slide>div.section-body{transform:scale(0.1875, 0.1875);transform-origin:0 0;-webkit-transform:scale(0.1875, 0.1875);-webkit-transform-origin:0 0;}
body.ldjs-slide #ldjs-menubar{padding-right:112px;}body.ldjs-slide #ldjs-menubar #ldjs-menubar-button-toggle-menubar{opacity:1;}body.ldjs-slide #ldjs-menubar #ldjs-menubar-button-toggle-menubar:hover div.ldjs-slide-number.dimmed{background:none;color:#888;}
body.ldjs-slide #ldjs-menubar #ldjs-menubar-button-toggle-menubar div.ldjs-slide-number{padding:0;margin:0;width:100%;height:100%;pointer-events:none;}body.ldjs-slide #ldjs-menubar #ldjs-menubar-button-toggle-menubar div.ldjs-slide-number p{padding:0;margin:0;font-size:25px;text-align:center;line-height:50px;}
body.ldjs-slide #ldjs-menubar #ldjs-menubar-button-toggle-menubar div.ldjs-slide-number.dimmed{background:black;color:#555;}
body.ldjs-slide #ldjs-menubar.visible #ldjs-menubar-button-toggle-menubar{opacity:1;}
body.ldjs-slide #ldjs-menubar.visible #ldjs-menubar-button-toggle-submenu-asides.disabled{bottom:0px;}
body.ldjs-slide #ldjs-menubar.visible #ldjs-menubar-button-toggle-submenu-asides:not(.disabled){opacity:1;}
body.ldjs-slide #ldjs-menubar #ldjs-menubar-button-toggle-submenu-asides.disabled{bottom:-50px;}
body.ldjs-slide #ldjs-menubar #ldjs-menubar-button-toggle-submenu-asides:not(.disabled){bottom:0;opacity:0.5;}body.ldjs-slide #ldjs-menubar #ldjs-menubar-button-toggle-submenu-asides:not(.disabled):hover{opacity:1;}
html body:not([class*="ldjs-slide"]) div#body-content{margin-bottom:51px;}
@media print{#ldjs-menubar{visibility:hidden;}}#ldjs-help footer{clear:both;font-size:smaller;margin-top:1em;}
#ldjs-help footer p{margin:0;font-size:inherit;}
#ldjs-help footer p#ldjs-help-last-modified-info{margin-bottom:1em;}
#ldjs-help dl{margin:0;padding:0;}
#ldjs-help dd{margin-left:315px;margin-bottom:0em;padding:0;font-weight:bold;text-align:left;}#ldjs-help dd sup{font-size:smaller;}
#ldjs-help dt{clear:left;float:left;margin:0;padding:0;width:300px;font-weight:normal;text-align:right;}
