    <!-- START [FOOTER] - Automatically inserted by LectureDoc in generated HTML files.  -->
    <script type="text/javascript">SimpleJSEditor.create()</script>
    <script type="text/javascript">MathJax.Hub.Configured()</script>
    <script src="Library/LectureDoc/LectureDoc-Help.js" type="text/javascript"></script>

    <!-- END -->
