
    <!-- START [HEADER] - Automatically inserted by LectureDoc in generated HTML files.  -->
    <script src="Library/Mousetrap-1.4.6/mousetrap.min.js" type="text/javascript"></script>
    <script src="Library/Mousetrap-1.4.6/mousetrap-pause.min.js" type="text/javascript"></script>
    <script src="Library/Gator-1.2.2/gator.min.js" type="text/javascript"></script>
    <script src="Library/Gator-1.2.2/gator-pause.js" type="text/javascript"></script>

    <script src="Library/Timeline-1.0.0/Timeline.js" type="text/javascript"></script>
    <link href="Library/Timeline-1.0.0/Timeline.css" type="text/css" rel="stylesheet">

    <script src="Library/MultipleChoice-1.0.0/MultipleChoice.js" type="text/javascript"></script>
    <link href="Library/MultipleChoice-1.0.0/MultipleChoice.css" type="text/css" rel="stylesheet">

    <script src="Library/SimpleJSEditor-1.1.0/SimpleJSEditor.js" type="text/javascript"></script>
    <link href="Library/SimpleJSEditor-1.1.0/SimpleJSEditor.css" type="text/css" rel="stylesheet" />

    <link rel="stylesheet" href="Library/highlight.js-8.0/styles/default.css">
    <script src="Library/highlight.js-8.0/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <link href="Library/LectureDoc/css/LectureDoc.css" type="text/css" rel="stylesheet">
    <script src="Library/LectureDoc/LectureDoc.js" type="text/javascript"></script>

    <script src="Library/MathJax-2.3/MathJax.js?config=TeX-AMS_HTML-full&delayStartupUntil=configured" type="text/javascript"></script>
    <script>
        LectureDoc.registerRenderCallBack(function(){
            MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
            SimpleJSEditor.create();
        });
        LectureDoc.registerSwitchModeCallBack(function(){
            SimpleJSEditor.saveState();
        });
    </script>
    <!-- END -->
