body {
	font-family: sans-serif;
	font-size: 12pt;
}
dl.as-table {
	float: left;
	margin: 1em 0;
	padding: 0;
}
.as-table dt {
	clear: left;
	float: left;
	width: 200px;
	margin: 5px 0 0 0;
	padding: 5px;
}
.as-table dt+dd {
	margin-top: 5px;
}
.as-table dd {
	margin-left: 210px;
	padding: 5px;
}
.frontpagelogo {
	text-align: right:
	margin-top: 2em;
	margin-right: 1.5em;
}
p {
	text-align: justify;
	hyphens: auto;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
}
.frontpagelogo p {
	text-align: right;
}
.align-right {
	float: right;
	display: block;
	text-align: right;
	clear: right;
	margin-right: 4em;
}
ol > li {
	margin-top: 0.3em;
}
h2, h3 {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-size: 1em;
}
hr {
	clear: left;
	height: 1px;
	background: #000000;
	border: none;
}
.page-header {
	background: #cccccc;
	height: 1em;
}
.page-header .page-number {
	background: #ffffff;
	float: right;
	padding: 0 0.2em;
}
ol li {
	font-weight: bold;
}
h1 {
	margin-top: 1em;
	margin-left: 0.5em;
	margin-bottom: 0.4em;
	font-size: 3em;
}
footer {
	font-size: 0.8em;
	border-top: 1px solid black;
}
footer p {
	text-align: center;
}

@media print {
	html, body {
		-webkit-print-color-adjust: exact;
	}
	footer {
		visibility: hidden;
	}
	section.page {
		page-break-before: always;
		padding-top: 1em;
	}
	h1 {
		margin-top: 1.7em;
	}
	p {
		margin-top: 0;
		margin-bottom: 0;
	}
	p + p, h2 + p, h3 + p, li > p {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	h2 + ol {
		margin-top: 2em;
	}
	h2, h3 {
		margin-top: 3.6em;
		margin-bottom: 1em;
		padding-bottom: 2px;
		padding-top: 2px;
	}
	#header-bar {
		page-break-before: always;
	}
	.align-right {
		margin-right: 0;
	}
}
