section.slide>div.section-body.fadeIn{-webkit-animation:fadeIn ease-in 1;-moz-animation:fadeIn ease-in 1;-o-animation:fadeIn ease-in 1;animation:fadeIn ease-in 1;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;-o-animation-fill-mode:forwards;animation-fill-mode:forwards;}
section.slide>div.section-body.fadeOut{-webkit-animation:fadeOut ease-in 1;-moz-animation:fadeOut ease-in 1;-o-animation:fadeOut ease-in 1;animation:fadeOut ease-in 1;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;-o-animation-fill-mode:forwards;animation-fill-mode:forwards;}
section.slide>div.section-body.fadeDuration-500ms{-webkit-animation-duration:0.5s;-moz-animation-duration:0.5s;-o-animation-duration:0.5s;animation-duration:0.5s;}
section.slide>div.section-body.fadeDuration-750ms{-webkit-animation-duration:0.75s;-moz-animation-duration:0.75s;-o-animation-duration:0.75s;animation-duration:0.75s;}
section.slide>div.section-body.fadeDuration-1000ms{-webkit-animation-duration:1.0s;-moz-animation-duration:1.0s;-o-animation-duration:1.0s;animation-duration:1.0s;}
@-webkit-keyframes fadeIn{from{opacity:0;} to{opacity:100%;}}@-moz-keyframes fadeIn{from{opacity:0;} to{opacity:100%;}}@-o-keyframes fadeIn{from{opacity:0;} to{opacity:100%;}}@keyframes fadeIn{from{opacity:0;} to{opacity:100%;}}@-webkit-keyframes fadeOut{from{opacity:100%;} to{opacity:0;}}@-moz-keyframes fadeOut{from{opacity:100%;} to{opacity:0;}}@-o-keyframes fadeOut{from{opacity:100%;} to{opacity:0;}}@keyframes fadeOut{from{opacity:100%;} to{opacity:0;}}
